{% extends "base.htm" %} {% block content %}
<main class="hero mgb-extra-large">
    <div class="hero__text-container">
        <h1 class="heading-1 heading-1--white mgb-small">ending hunger together</h1>
        <p class="hero__text mgb-medium">
            We aspire to build a world where no good food goes to waste. By investing in us, you are making a utopia
            become a reality. With us and an electronic device, you can make a difference from the comfort of your home,
            and with just a tap and a click, you can feed thousands.
        </p>
        <div class="btn-main hero__btn mgb-large">
            <a href="donate.htm" class="btn-main__link btn-main__link--white">Get Started</a>
        </div>
    </div>
    <div class="hero__steps">
        <div class="hero__step">
            <div class="hero__step-head">
                <svg class="hero__icon">
                    <use xlink:href="static/img/sprite.svg#icon-pen"></use>
                </svg>
                <p class="hero__step-head-text">
                    Step 1. Register
                </p>
            </div>
            <p class="hero__step-text">
                Register yourself as an individual or your organisation and then regularly sign in to make your
                contribution.
            </p>
        </div>
        <div class="hero__step">
            <div class="hero__step-head">
                <svg class="hero__icon">
                    <use xlink:href="static/img/sprite.svg#icon-spoon-knife"></use>
                </svg>
                <p class="hero__step-head-text">
                    Step 2. Donate
                </p>
            </div>
            <p class="hero__step-text">
                Contribute extra food which is fit for consumption. All donations will be recorded on the leaderboard,
                where the person with the most donations will be shown first.
            </p>
        </div>
        <div class="hero__step">
            <div class="hero__step-head">
                <svg class="hero__icon">
                    <use xlink:href="static/img/sprite.svg#icon-emoji-happy"></use>
                </svg>
                <p class="hero__step-head-text">
                    Step 3. Make a Difference
                </p>
            </div>
            <p class="hero__step-text">
                Join hands with us to eradicate hunger by 2030, leading to the dawn of a new era.
            </p>
        </div>
    </div>
</main>

<div class="page-break">
    <div class="circle-break circle-break--big"></div>
    <div class="circle-break circle-break--small"></div>
    <img src="static/img/curve.png" alt="page break illustration" class="page-break__img">
</div>

<section class="about" id="about">
    <h1 class="heading-1 heading-1--white mgb-small">who are we?</h1>
    <p class="about__text">
        We, at Entree, are the largest Indian agency fighting against food wastage and ending hunger. In the upcoming 10
        years, our dream of a society prospering with food security will become a reality. Our plan of action is
        pioneering and our goals are ambitious. Comprising a team of determined and zealous personas, ranging from
        students to senior citizens, we have got what it takes.
    </p>
    <p class="about__text">
        Our method includes twin pillars of transparency and sustainability. Firmly believing in the 17 Sustainable
        Development Goals, as set up by the United Nations Environment Program, our duty towards society comes before
        everything. Starting from a small apartment in Bangalore in 2019, we have come a long way, already having
        received more than a hundred thousand donations feeding more than five million hungry citizens. And we have no
        intention to stop in our way.
    </p>
    <p class="about__text">
        Acclaimed by the Ministry of food and distribution, we place our trust in you, those who see your own dream come
        true with our work. Motivated by the smiles of the hungry, our belief in the collective good is unparalleled.
        This fact is exemplified by our appearance in the Times Magazine and Forbes, as one of the 30 best socially
        conscious start-ups of 2010s. We constitute the crusaders of change, who change the present for our better
        tomorrow.
    </p>
</section>

<section class="help mgb-medium" id="benefits">
    <img src="static/img/curve.png" alt="help break" class="help__break-small">
    <h1 class="heading-1 heading-1--black mgb-large">why should you <span class="color">care?</span></h1>
    <div class="circle-break circle-break--big"></div>
    <div class="circle-break circle-break--small"></div>
    <div class="help__reason help__reason--1 mgb-medium">
        <div class="help__text">
            <p class="help__head">
                The bigger picture
            </p>
            <p class="help__para">
                More than 40% of food in India is wasted, accounting for 92,000 rupees per annum. On the other side of
                the spectrum, 189.2 million people in India are malnourished due to inadequate food supply and hunger.
                Bridging the gap between these two emergencies will help us combat both problems.
            </p>
        </div>
        <img src="static/img/help.jpg" alt="help" class="help__img">
    </div>
    <div class="decor-box decor-box--1"></div>
    <div class="help__reason help__reason--2">
        <div class="help__text">
            <p class="help__head">
                Invest to end hunger for good
            </p>
            <p class="help__para">
                Invest not in money and not in us, rather in the excess food in your house, your catering service, your
                restaurant and all the weddings. Using our user friendly website, you can donate this food to Entree,
                and we will collect it from you to distribute in the village nearby. As more people than ever are in
                need of food, we act as the bridge between the 2 problems.
            </p>
        </div>
        <img src="static/img/help 2.jpg" alt="help" class="help__img">
    </div>
    <div class="decor-box decor-box--2"></div>
</section>

<div class="circle-break circle-break--big"></div>
<div class="circle-break circle-break--small"></div>
<script src="../static/js/app.js"></script>
<script src="../static/js/navbar.js"></script>
{% endblock %}